.wrapper{
    padding: 0 10%;
}
figure{
    margin: 0;
}
figcaption{
    margin: 0;
}
li.list-paragraph:nth-child(1){
    width: 100%;
}
li.list-paragraph{
    display: flex;
    flex-wrap: wrap;
}
li.list-paragraph *{
    width: 100%;
    margin: 0.5rem;
    flex-basis: calc(50% - 1rem);
}
@media all and (max-width: 720px){
    li.list-paragraph{
        padding: 0 1rem 2rem 1rem;
    }
    li.list-paragraph *{
        width: 100%;
        margin: 0;
        flex-basis: 100%;
    }
    figure.pic-with-caption{
        margin-bottom: 1rem;
    }
}
